.chart{
    margin-top: 1rem;
    height: 100%;
    max-height: 12.5rem;
    width: auto;
}
.chartone{
    margin-top: 1rem;
    height: auto;
    max-height: 10.5rem;
    width: auto;
}
.chartjs-render-monitor{
    height: 100% !important;
    width: 100% !important;
}